<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink="/" routerLinkActive="true"><strong>{{title}}</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/home" routerLinkActive="true">Home</a>
            </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" *ngIf="currentUser == null" routerLink="/login" routerLinkActive="true">Login</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" *ngIf="currentUser != null" (click)=signOut()>Logout</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <img ngxGravatar [email]="currentUser.email" *ngIf="currentUser != null" src="{{currentUser.photoURL}}">
            </li>
        </ul>
    </links>
</mdb-navbar>

<main>
    <div class="container" style="min-height:1000px; margin-top:80px;">
        <router-outlet></router-outlet>
    </div>
</main>

<footer class="page-footer pink pt-4 mt-4">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <span>ChTshirts.com by v. 0.0.1</span>
            </p>
        </div>
    </div>
</footer>